#cal1Container {
    position: absolute;
    display: none;
}
p, #cal1Container {
    margin: 1em;
}
textarea {
    width: 100%;
}
#cal1Container {
    z-index: 500;
}
.dp-highlighter {
    z-index: 1;
}
table.parms {
    border-collapse: collapse;
}

table.parms td {
    padding: .5em;
    text-align: left;
}


table.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: top;
    	table-layout: fixed;
}

table.header td {
	vertical-align: top;
	padding:5;
}

table.log {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border: solid 1px black;
}

table.log th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: silver;
	color: black;
	border: solid 1px black;
	padding:5;
}

table.log td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	text-align: left;
	border: solid 1px black;
	padding:5;
}

table {
	vertical-align: top;
}

td { 
	text-align: left;
}

th {
	vertical-align: top;
}

tr { 
	vertical-align: top;
}

td.chart {
	border: solid 2px black;
	border-collapse: collapse;
}

table.report {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border: solid 2px black;
	border-collapse: collapse;
}

table.report td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	vertical-align: top;
	font-size: 11px;
	font-weight: normal !important;
	padding:5;
	border: solid 2px black;
}

#right {
	text-align: right;
}

table.report th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	background-color: #006699;
	color: white;
	padding:5;
	border: solid 2px black;
}
table.nav {
	font-weight: bold;
    	border-collapse: collapse;
	
}
table.nav td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold !important;
	text-align: left;
	vertical-align: top;
	padding:10;

}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
	padding:5;
}

div.parms_passed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal !important;
}


div.parms_passed th, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal !important;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

img.report {   
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body.report {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
